:root{
    --poppin: 'Poppins', sans-serif;
    --mont: 'Montserrat', sans-serif;
    --og: rgb(127, 62, 255);
}
#nav{
    display: block;
    padding: 1%;
    transition: .6s ease-in;
    position: absolute;
    top: -66%;
    z-index: 6;
    width: 98%;
}
#nav1 {
    display: block;
    padding: 1%;
    transition: .6s ease-in;
    position: absolute;
    top: 0%;
    z-index: 6;
    width: 98%;
}
#nav.active{
   top: 0%; 
}
#navMenu {
    margin-left: -1%;
}  
#navMenu1{

}
#navMenuli {
    list-style: none;
}
#navMenuli:hover{
    color: rgb(138, 138, 138);
}
#navMenuA {
    font-weight: 800;
    text-decoration: none;
    color: inherit;
    margin-left: 28%;
}
header h1{
    position: absolute;
    top: -8.6%;
    left: 1.8%;
    font-family: var(--poppin);
    display: none;
}
#dropBtn {
    border-style: solid;
    border-radius: 8px;
    position: absolute;
    display: block;
    padding: 2%;
    box-sizing: border-box;
    top:1%;
    left: 1%;
    z-index: 10;
    color: rgb(135, 135, 135);
}
#dropBtn:is(:hover :focus){
    color: rgb(135, 135, 135);
}
.bar{
    display: block;
    width: 24px;
    height: 4px;
    margin: 4px auto;
    background-color: rgb(175, 175, 175);
}
#sprite1 {
    height: 32px;
    background-size: cover;
    margin-top: 0px;
    width: calc(196px / 6);
    animation: walk .8s steps(6) infinite;
    transform: scale(1.8);
    position: absolute;
    margin-top: -54px;
    border-style: solid;
    border-radius: 50%;
    right: 30%;
    cursor: pointer;
}
#sprite1:hover{
    background-color: aliceblue;
}
@keyframes walk {
    from {
        background-position: 192px 0;
    }
    to {
        background-position: 0 0;
    }
}
@media only screen and (min-width: 768px) {
    #nav{
        display: flex;
        left: 0%;
    }
    #nav1{
        left: 0%;
        display: flex;
    }
    #navMenu1 {
        display: flex;
        position: relative;
        left: 230%;
    }
    header h1{
        display: block;
    }
    #dropBtn{
        display: none;
    }
    #navMenu{
        display: flex;
        margin-left: 36%;
    }
    #nav{
        display: flex;
        position: relative;
    }
    #navMenuA{
        margin-left: 16%;
    }
    #sprite1 {
            height: 32px;
            background-size: cover;
            margin-top: 0px;
            width: calc(196px / 6);
            animation: walk .8s steps(6) infinite;
            transform: scale(1.8);
            position: absolute;
            margin-top: -10px;
            border-style: solid;
            border-radius: 50%;
            right: 12%;
            cursor: pointer;
        }
    
        @keyframes walk {
            from {
                background-position: 192px 0;
            }
    
            to {
                background-position: 0 0;
            }
    }

}